<div class="modal fade" id="BookingModal" tabindex="-1" aria-labelledby="BookingModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="mb-0">Reserve a table</h3>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body d-flex flex-column justify-content-center">
                <div class="booking">

                    <form class="booking-form row" role="form" action="#" method="post">
                        <div class="col-lg-6 col-12">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <h3>انتخاب غذاها</h3>
                            {{ formset.management_form }}
                            {% for form in formset %}
                                {{ form.as_p }}
                            {% endfor %}
                            <div class="col-lg-4 col-12 ms-auto">
                                <button type="submit" class="form-control">Submit Request</button>
                            </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer"></div>
        </div>
    </div>
</div>