{% extends 'base.html' %}
{% load static %}

{% block main %}
    <main>

        <section class="hero">
            <div class="container">
                <div class="row">

                    <div class="col-lg-5 col-12 m-auto">
                        <div class="heroText">

                            <h1 class="text-white mb-lg-5 mb-3">Delicious Steaks</h1>

                            <div class="c-reviews my-3 d-flex flex-wrap align-items-center">
                                <div class="d-flex flex-wrap align-items-center">
                                    <h4 class="text-white mb-0 me-3">4.4/5</h4>

                                    <div class="reviews-stars">
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star reviews-icon"></i>
                                    </div>
                                </div>

                                <p class="text-white w-100">From <strong>1,206+</strong> Customer Reviews</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 col-12">
                        <div id="carouselExampleCaptions" class="carousel carousel-fade hero-carousel slide"
                             data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% for food in best_food %}
                                    <div class="carousel-item">
                                        <div class="carousel-image-wrap">
                                            <img src="{{ food.image.url }}"
                                                 class="img-fluid carousel-image" alt="">
                                        </div>

                                        <div class="carousel-caption">
                                            <div class="d-flex align-items-center">
                                                <h4 class="hero-text">{{ food.name }}</h4>

                                                <span class="price-tag ms-4"><small>$</small>{{ food.original_price }}</span>
                                            </div>

                                            <div class="d-flex flex-wrap align-items-center">
{#                                                <h5 class="reviews-text mb-0 me-3">{{ food.score }}</h5>#}

                                                <div class="reviews-stars">
                                                    <i class="bi-star-fill reviews-icon"></i>
                                                    <i class="bi-star-fill reviews-icon"></i>
                                                    <i class="bi-star-fill reviews-icon"></i>
                                                    <i class="bi-star reviews-icon"></i>
                                                    <i class="bi-star reviews-icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="carousel-item">
                                    <div class="carousel-image-wrap">
                                        <img src="{% static 'images/slide/ivan-torres-MQUqbmszGGM-unsplash.jpg' %}"
                                             class="img-fluid carousel-image" alt="">
                                    </div>

                                </div>
                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                {% if menu.has_previous %}
                                    <a class="btn btn-primary" href="?page={{ menu.previous_page_number }}">prev</a>
                                {% else %}
                                    <button class="btn btn-primary" disabled>prev</button>
                                {% endif %}

                                {% if menu.has_next %}
                                    <a class="btn btn-primary" href="?page={{ menu.next_page_number }}">next</a>
                                {% else %}
                                    <button class="btn btn-primary" disabled>next</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="video-wrap">
                <video autoplay="" loop="" muted="" class="custom-video" poster="">
                    <source src="{% static 'video/production_ID_3769033.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div class="overlay"></div>
        </section>

        <section class="menu section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h2 class="text-center mb-lg-5 mb-4">Special Menus</h2>
                    </div>
                    {% for item in menus %}
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="menu-thumb">
                                <div class="menu-image-wrap">
                                    <img src="{{ item.image.url }}" class="img-fluid menu-image" alt="">
                                    <span class="menu-tag bg-warning">{{ item.category.name }}</span>
                                </div>

                                <div class="menu-info">
                                    <h4>{{ item.name }}</h4>
                                    <span>${{ item.original_price }}</span>

                                    <div class="reviews-stars" data-id="{{ item.id }}">
                                        {% for i in "12345" %}
                                            {% if forloop.counter <= item.average_rating %}
                                                <i class="bi-star-fill reviews-icon"
                                                   data-value="{{ forloop.counter }}"></i>
                                            {% else %}
                                                <i class="bi-star reviews-icon" data-value="{{ forloop.counter }}"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <p>امتیاز: <span class="average">{{ item.average_rating }}</span></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="BgImage"></section>

        <section class="news section-padding">
            <div class="container">
                <div class="row">

                    <h2 class="text-center mb-lg-5 mb-4">News &amp; Events</h2>

                    {% if event_home %}
                        {% for event in event_home %}
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="news-thumb mb-4">
                                    <a href="{% url 'about' %}">
                                        <img src="{{ event.image.url }}"
                                             class="img-fluid news-image"
                                             alt="">
                                    </a>

                                    <div class="news-text-info news-text-info-large">
                                        <span class="category-tag bg-danger">{{ event.category }}</span>

                                        <h5 class="news-title mt-2">
                                            <a href="{% url 'about' %}" class="news-title-link">{{ event.title }}</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    {% else %}
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="news-thumb mb-4">
                                <a href="{% url 'about' %}">
                                    <img src="{% static 'images/news/news-detail-header.jpg' %}"
                                         class="img-fluid news-image"
                                         alt="">
                                </a>

                                <div class="news-text-info news-text-info-large">
                                    <span class="category-tag bg-danger">none event</span>

                                    <h5 class="news-title mt-2">
                                        <a href="{% url 'about' %}" class="news-title-link"></a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% for news in news_home %}
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="news-thumb mb-4">
                                <a href="{% url 'menu:detail' news.slug %}">
                                    <img src="{{ news.image.url }}"
                                         class="img-fluid news-image"
                                         alt="">
                                </a>

                                <div class="news-text-info">
                                    <span class="category-tag me-3 bg-info">{{ news.category }}</span>

                                    <strong>{{ news.date }}</strong>

                                    <h5 class="news-title mt-2">
                                        <a href="{% url 'menu:detail' news.slug %}"
                                           class="news-title-link">{{ news.title }}</a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

    </main>
    <script>
        document.querySelectorAll('.reviews-stars').forEach(starContainer => {
            const menuId = starContainer.getAttribute('data-id');
            const stars = starContainer.querySelectorAll('i');

            stars.forEach(star => {
                star.addEventListener('click', () => {
                    const value = star.getAttribute('data-value');

                    fetch(`/rate_menu/${menuId}/`, {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": getCookie("csrftoken"),
                            "Content-Type": "application/x-www-form-urlencoded"
                        },
                        body: `value=${value}`
                    })
                        .then(res => res.json())
                        .then(data => {
                            if (data.success) {
                                alert("امتیاز ثبت شد!");

                                stars.forEach((s, i) => {
                                    if (i < value) s.classList.add('bi-star-fill');
                                    else s.classList.remove('bi-star-fill');
                                    s.classList.add('bi-star');
                                });

                                starContainer.nextElementSibling.querySelector('.average').textContent = data.average;
                            } else {
                                alert(data.error);
                            }
                        });
                });
            });
        });


        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>

{% endblock %}