{% extends 'base.html' %}
{% load static %}
{% block main %}

    <main>

        <header class="site-header site-menu-header">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12 mx-auto">
                        <h1 class="text-white">Our Menus</h1>

                        <strong class="text-white">Perfect for all Breakfast, Lunch and Dinner</strong>
                    </div>

                </div>
            </div>

            <div class="overlay"></div>
        </header>

        <section class="menu section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h2 class="mb-lg-5 mb-4">Breakfast Menu</h2>
                    </div>
                    {% for item in food %}
                        {% if item.category.name == 'Breakfast' %}
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="menu-thumb">
                                    <img src="{{ item.image.url }}"
                                         class="img-fluid menu-image" alt="image food">

                                    <div class="menu-info d-flex flex-wrap align-items-center">
                                        <h4 class="mb-0">{{ item.name }}</h4>
                                        {% if item.original_price %}
                                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>{{ item.original_price }}</span>
                                        {% elif item.discount_price %}
                                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>{{ item.original_price }}</span>
                                            <del class="ms-4"><small>$</small>{{ item.discount_price }}</del>
                                        {% endif %}
                                        <div class="d-flex flex-wrap align-items-center w-100 mt-2">
                                            <h6 class="reviews-text mb-0 me-3">{{ item.average_rating }}</h6>

                                            <div class="reviews-stars">
                                                <i class="bi-star-fill reviews-icon"></i>
                                                <i class="bi-star-fill reviews-icon"></i>
                                                <i class="bi-star-fill reviews-icon"></i>
                                                <i class="bi-star-fill reviews-icon"></i>
                                                <i class="bi-star reviews-icon"></i>
                                            </div>

                                            <p class="reviews-text mb-0 ms-4">{{ item.views }} Reviews</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="menu section-padding bg-white">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h2 class="mb-lg-5 mb-4">Lunch Menu</h2>
                    </div>

                    {% for item in food %}
                        {% if item.category.name == 'Lunch' %}
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="menu-thumb">
                                    <img src="{{ item.image.url }}"
                                         class="img-fluid menu-image" alt="image food">

                                    <div class="menu-info d-flex flex-wrap align-items-center">
                                        <h4 class="mb-0">{{ item.name }}</h4>
                                        {% if item.original_price %}
                                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>{{ item.original_price }}</span>
                                        {% elif item.discount_price %}
                                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>{{ item.original_price }}</span>
                                            <del class="ms-4"><small>$</small>{{ item.discount_price }}</del>
                                        {% endif %}
                                        <div class="d-flex flex-wrap align-items-center w-100 mt-2">
                                            <h6 class="reviews-text mb-0 me-3">{{ item.score }}</h6>

                                            <div class="reviews-stars">
                                                <i class="bi-star-fill reviews-icon"></i>
                                                <i class="bi-star-fill reviews-icon"></i>
                                                <i class="bi-star-fill reviews-icon"></i>
                                                <i class="bi-star-fill reviews-icon"></i>
                                                <i class="bi-star reviews-icon"></i>
                                            </div>

                                            <p class="reviews-text mb-0 ms-4">{{ item.views }} Reviews</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="menu section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h2 class="mb-lg-5 mb-4">Dinner Menu</h2>
                    </div>

                    {% for item in food %}
                        {% if item.category.name == 'Dinner' %}
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="menu-thumb">
                                    <img src="{{ item.image.url }}"
                                         class="img-fluid menu-image" alt="image food">

                                    <div class="menu-info d-flex flex-wrap align-items-center">
                                        <h4 class="mb-0">{{ item.name }}</h4>
                                        {% if item.original_price %}
                                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>{{ item.original_price }}</span>
                                        {% elif item.discount_price %}
                                            <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>{{ item.original_price }}</span>
                                            <del class="ms-4"><small>$</small>{{ item.discount_price }}</del>
                                        {% endif %}
                                        <div class="d-flex flex-wrap align-items-center w-100 mt-2">
                                            <h6 class="reviews-text mb-0 me-3">{{ item.average_rating }}</h6>

                                            <div class="reviews-stars">
                                                <i class="bi-star-fill reviews-icon"></i>
                                                <i class="bi-star-fill reviews-icon"></i>
                                                <i class="bi-star-fill reviews-icon"></i>
                                                <i class="bi-star-fill reviews-icon"></i>
                                                <i class="bi-star reviews-icon"></i>
                                            </div>

                                            <p class="reviews-text mb-0 ms-4">{{ item.views }} Reviews</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}